#wesh {
  display: block;
}
#wesh .morray {
  display: none;
}

.btn-primary {
  background-color: #4270ED;
  border-radius: 25px;
  padding: 8px 25px;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  height: 75px;
  padding: 15px;
}
header .logo-container {
  width: 20%;
  height: 100%;
}
header .logo-container img {
  max-height: 100%;
}
header .nav-container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
}
header .nav-container nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
header .login-container {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}