#wesh {
    display: block;
    .morray {
        display: none;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;

    .logo-container {
        width: 20%;
        height: 100%;
    }

    .nav-container {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;

        nav {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
    }

    .login-container {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}